.signup {
    align-self: center;
    height: 40px;
    width: 60px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 5px;
    list-style-type: none;
    background-color: white;
    color: black;
}