#modal-content {
    display: flex;
    height: 200px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 5px;
    justify-content: center;
    padding: 20px;
	font-family: 'Big Shoulders Display', cursive;
}

.about-modal-container {
    display: flex;
    align-items: center;
    transition: .2s ease;
}

.github {
    width: 60px;
    height: 60px;
}

.about-link:hover {
    transition: all 1s ease-out;
    transform: scale(1.5);
    filter: invert(100%);
}