body {
    background-color: black;
	font-family: 'Big Shoulders Display', cursive;
}

.navbar-outer-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
	width: 100%;
	position: fixed;
    z-index: 1;
    display: flex;
    background-color: #808080;
	align-items: center;
}

.navbar-left {
    display: flex;
    color: black;
    align-items: center;
    font-family: 'Big Shoulders Display', cursive;
}

.navbar-center {
    display: flex;
    font-size: x-large;
    margin-right: 260px;
    font-family: 'Creepster', cursive;
}

.navbar-right {
    display: flex;
}

.home, 
.discover,
.about {
    font-family: 'Big Shoulders Display', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60px;
    color: black;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
}

@media only screen and (max-width: 1102px) {
    .title-top {
        display: none;
    }
}

.title {
    position: relative;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin: 30px;
    padding: 0 20px;
    display: inline-block;
    overflow: hidden;
}

.title > span{
    position: relative;
    display: block;
    overflow: hidden;
    transition: transform 0.3s;
    transition-delay: 0.1s;
}


.title > span > span{
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.title > span.title-top > span{
    top: auto;
    bottom: 0;
    text-align: center;
}


.title::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 1px;
    background-color: black;

    transform: translate3d(-150%, -50%,0);
    transition: transform 0.3s;
}

.title:hover::after{
    transform: translate3d(-50%, -50%, 0);
}

.title:hover .title-top{
    transform: translate3d(5%, 0, 0);
}


a:hover .title-bottom{
    transform: translate3d(-5%, 0, 0);
}

.title:hover {
    color: red;
}

.active {
    color: white;
    background-color: #808080;
}

.profile-button {
    background-color: white;
    display: block;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    z-index: 1;
    font-family: 'Big Shoulders Display', cursive;
}

.logout {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 60px;
	font-family: 'Big Shoulders Display', cursive;
}

.profile-dropdown {
    font-family: 'Big Shoulders Display', cursive;
    display: block;
    top: 40px;
    right: 5px;
    position: absolute;
    color: white;
    max-width: 280px;
    word-wrap: break-word;
    background-color: #80808079;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 8px 8px 0 rgba(33, 39, 56, 0.2);
}

.collection-dropdown {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    height: 40px;
    width: auto;
    border-radius: 5px;
    font-family: 'Big Shoulders Display', cursive;
}

.collection-form {
    display: flex;
    max-width: 150px;
    justify-content: flex-start;
}

.collection-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    background-color: white;
    font-family: 'Big Shoulders Display', cursive;
}