body {
    background-color: black;
	font-family: 'Big Shoulders Display', cursive;
}

.navbar-outer-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
	width: 100%;
	position: fixed;
    z-index: 1;
    display: flex;
    background-color: #808080;
	align-items: center;
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
    color: black;
    align-items: center;
    font-family: 'Big Shoulders Display', cursive;
}

.navbar-center {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-right: 370px;
    font-family: 'Creepster', cursive;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
}

.home, 
.discover,
.about {
    font-family: 'Big Shoulders Display', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60px;
    color: black;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
}

@media only screen and (max-width: 1102px) {
    .title {
        display: none;
    }

    .navbar-right {
        display: flex;
        justify-content: flex-start;
    }
}

.title:hover {
    color: black;
}

.active {
    color: white;
    background-color: #808080;
}

.profile-button {
    background-color: white;
    display: block;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    z-index: 1;
    font-family: 'Big Shoulders Display', cursive;
}

.logout {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 60px;
	font-family: 'Big Shoulders Display', cursive;
}

.profile-dropdown {
    font-family: 'Big Shoulders Display', cursive;
    display: block;
    top: 40px;
    right: 5px;
    position: absolute;
    color: white;
    max-width: 280px;
    word-wrap: break-word;
    background-color: #80808079;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 8px 8px 0 rgba(33, 39, 56, 0.2);
}

.collection-dropdown {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    font-family: 'Big Shoulders Display', cursive;
}